.card-date {
    width: 100%;
    height: 150px;
    background: white;
    border-radius: 15px;
    
    display: flex;
    color:  #218ede;
    justify-content: center;
    position: relative;
    flex-direction: column;
   
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
  }
  
  
  
  .material-text-date {
    font-size: 50px;
    margin-top: 0px;
    margin-left: 15px;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .time-sub-text-date {
    font-size: 15px;
    margin-left: 5px;
  }
  
  .day-text-date {
    font-size: 18px;
    margin-top: 0px;
    margin-left: 15px;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
 
  
  .card-date:hover > .moon {
    font-size: 23px;
  }
  