.upload-task {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  button {
    padding: 0.5rem 1rem;
    margin-top: 1rem;
  }
  
  .uploaded-image {
    margin-top: 2rem;
  }
  
  img {
    width: 100%;
    max-width: 300px;
    height: auto;
  }
  /* Style pour les conteneurs des boutons radio */
.radio-container {
    margin-bottom: 10px;
  }
  
  /* Style pour les labels des boutons radio */
  .radio-label {
    margin-left: 5px;
  }
  
  /* Style pour les boutons radio eux-mêmes */
  .radio-input {
    margin-right: 5px;
  }
  
  /* Style pour les boutons radio sélectionnés */
  .radio-input:checked + .radio-label {
    color: blue; /* Couleur du texte pour les options sélectionnées */
    font-weight: bold; /* Texte en gras pour les options sélectionnées */
  }
  